h1 {
  color: greenyellow;
}
body {
  color: seagreen;
  background-color:#E889D2;
}

h1 {
  text-align: center;
}
h3 {
  font-family: "Verdana", verdana, sans-serif;
}
h2 {
  text-align: center;
}
h2 {
  font-family: "Verdana", verdana, sans-serif;
}

